<h1>Listing artists</h1>

<%= will_paginate @artists %>

<table>
  <tr>
    <th>Name</th>
    <th>Group type</th>
    <th>Release date</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.group_type %></td>
    <td><%= artist.release_date %></td>
    <td><%= artist.image_url %></td>
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artist', new_artist_path %>
